<<<<<<< HEAD

=======
<div class="container mt-4">
>>>>>>> b021d200953bd70621c12ae359f1c12ae7b5aef8
  <h2>会員情報編集</h2>
  <div class="row">
    <%= form_with model: @customer, url: registration_path(resource_name), local:true do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>
<<<<<<< HEAD
      <table>
        <col span="1" width="150">
        <col span="1" width="200">
        <col span="1" width="200">
        <tr>
          <td><%= f.label :氏名 %></td>
          <td><%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %></td>
          <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
        </tr>
        <tr>
          <td><%= f.label :フリガナ %></td>
          <td><%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %></td>
          <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
        </tr>
        <tr>
          <td><%= f.label :郵便番号 %></td>
          <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :住所%></td>
          <td colspan="2"><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
        </tr>
        <tr>
          <td><%= f.label :電話番号%></td>
          <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :新しいパスワード%></td>
          <td>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
          <td>
            <% if @minimum_password_length %>
              (<%= @minimum_password_length %>文字以上)
            <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          <td>(もう一度入力してください)</td>
        </tr>
        <tr>
          <td><%= f.label :現在のパスワードを入力してください %></td>
          <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
        </tr>
      </table>

      <div class="actions">
        <%= f.submit "編集内容を保存する", class: "btn btn-success mt-3" %>
      </div>
      <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger mt-3" %>
=======

      <table>
        <col span="1" width=150>
        <col span="1" width=200>
        <col span="1" width=200>
        <tr>
          <td><%= f.label :氏名 %></td>
          <td><%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %></td>
          <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
        </tr>
        <tr>
          <td><%= f.label :フリガナ %></td>
          <td><%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %></td>
          <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
        </tr>
        <tr>
          <td><%= f.label :郵便番号 %></td>
          <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :住所%></td>
          <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :電話番号%></td>
          <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :新しいパスワード%></td>
          <td>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
          <td>
            <% if @minimum_password_length %>
              (<%= @minimum_password_length %>文字以上)
            <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          <td>(もう一度入力してください)</td>
        </tr>
        <tr>
        　<div class="field">
            <td><%= f.label :現在のパスワードを入力してください %></td>
            <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
          </div>
        </tr>
      </table>

      <div class="actions">
        <%= f.submit "編集内容を保存する", class:"btn btn-success mb-3" %>
      </div>
      <%= link_to "退会する", customers_unsubscribe_path, class:"btn btn-danger mb-3" %>
>>>>>>> b021d200953bd70621c12ae359f1c12ae7b5aef8
    <% end %>
  </div>
</div>