<h2><%= @product_type.name %>一覧</h2>
全<%= Product.where(product_type_id: @value).where(is_active: true).count %>件

<% @datas.each do |data| %>
  <% unless data.is_active == false %>
  <div>
    <%= link_to product_path(data.id) do %>
      <%= attachment_image_tag(data, :image, :fill, 300, 225, fallback: "no_image.jpg", size: '300x225') %><br>
    <% end %>
    <p>商品名 : <%= data.name %></p><br>

    <p>￥<%= converting_to_jpy(data.price) %></p>
  </div>
  <% end %>
<% end %>