<div class="container my-5">
  <div class="row">
    <h3 class="text-left"><%= @product_type.name %>一覧<span class="small">(全<%= Product.where(product_type_id: @value).where(is_active: true).count %>件)</span></h3>
  </div>
  <div class="row my-3">
    <% @datas.each do |data| %>
      <div class="col-lg-3">
        <%= link_to product_path(data.id), class: "text-decoration-none" do %>
          <div class="card my-3">
            <%= attachment_image_tag(data, :image, :fill, 200, 200, fallback: "no_image.jpg") %>
            <div class="card-body text-dark">
              <div class="card-text"><%= data.name %></div>
              <div class="card-text">¥ <%= converting_to_jpy(data.price) %></div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @datas %>
  </div>
</div>
