<h1>注文情報確認</h1>
<div class="info-to-confirm">
  <div class="tables">
    <div class="each-product">
      <table>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% each do %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="total-bill">
      <table>
        <tr>
          <td>送料</td>
          <td><%= @ship_cost %></td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="pay-and-deliver">
    支払い方法：
    お届け先：
  </div>
</div>
<div class="confirm-button">
  <%= form_with model: @order, local: true do |f| %>
    <%= f.hidden_field :how_to_pay %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :receiver_name %>
    <%= f.submit "注文を確定する" %>
  <% end %>

</div>
