<h1>注文情報入力</h1>

<div class="pay-and-deliver">
  <%= form_with url: orders_confirm_path, model: @order, local: true do |f| %>
    <div class="how-to-pay">
      <h4>支払い方法</h4>
      <label><%= f.radio_button :how_to_pay, 0 %>クレジットカード</label><br/>
      <label><%= f.radio_button :how_to_pay, 1 %>銀行振込</label>
    </div>
    <div class="where-to-deliver">
    　<h4>お届け先</h4>
      <label>
        <%= f.radio_button :select, 0, checked: true %>
          ご自身の住所
          <div class="showed-part">
            〒<%= current_customer.postal_code %>
            <%= current_customer.address %>
            <%= current_customer.family_name + current_customer.first_name %>
          </div>
          <%= f.hidden_field :postal_code, value: current_customer.postal_code %>
          <%= f.hidden_field :address, value: current_customer.address %>
          <%= f.hidden_field :receiver_name, value: current_customer.family_name + current_customer.first_name %>
      </label><br />
      <label>
        <%= f.radio_button :select, 1 %>登録済住所から選択
          <%= f.collection_select :postal_code, Receiver.where(customer_id: current_customer.id), :postal_code, :postal_code %>
          <%= f.collection_select :address, Receiver.where(customer_id: current_customer.id), :address, :address %>
          <%= f.collection_select :receiver_name, Receiver.where(customer_id: current_customer.id), :name, :name %>
      </label><br />
      <label>
        <%= f.radio_button :select, 2 %>新しいお届け先<br />
          <table>
            <tr>
              <td>郵便番号:</td><td><%= f.text_field :postal_code, value: current_customer.postal_code %></td>
            </tr>
            <tr>
              <td>住所:</td><td><%= f.text_field :address, size: 60, value: current_customer.address %></td>
            </tr>
            <tr>
              <td>宛名:</td><td><%= f.text_field :receiver_name, value: current_customer.family_name + current_customer.first_name %></td>
            </tr>
          </table>
      </label>
    </div>
    <div class="submit">
      <%= f.submit "確認画面へ進む（どれを押しても新しいお届け先になる）", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
