<h2>商品詳細</h2>
<div><%= attachment_image_tag(@product, :image,  fallback: "no_image.jpg") %></div>
<div>
    <%= @product.name %>
</div>
<div>
    <%= @product.description %>
</div>
<div>
    <%= converting_to_jpy((@product.price * 1.1).round) %><span>(税込)</span>
</div>

<%= form_with model:[:customers,@cart_products], local:true do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.select :quantity, options_for_select((1..20).to_a), include_blank: "個数選択" %>
    <%= f.submit "カートに入れる" %>
<% end %>