<div class="container mt-3">
  <h1>配送先編集</h1>
    <div class="update-receiver">
      <%= form_with model:@receiver do |f| %>
        <div class="field row mt-4">
          <div class="col-md-3">
            <p>郵便番号(ハイフンなし)</p>
          </div>
          <div class="col-md-3">
            <%= f.text_field :postal_code, autofocus: true %>
          </div>
        </div>
        <div class="field row mt-3">
          <div class="col-md-3">
            <p>住所</p>
          </div>
          <div class="col-md-3">
            <%= f.text_field :address, size: 60 %>
          </div>
        </div>
        <div class="field row mt-3">
          <div class="col-md-3">
            <p>宛名</p>
          </div>
          <div class="col-md-3">
            <%= f.text_field :name %>
          </div>
        </div>
        <p>
          <%= f.submit '変更内容を保存', class:"btn btn-success mt-3" %>
        </p>
      <% end %>
    </div>
  </div>
</div>