<div class="container mt-4">
  <h2>管理者ログイン</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field row mt-3">
      <div class="col-md-2 offset-md-3"><%= f.label :email, "メールアドレス" %></div>
      <div class="col-md-3"><%= f.email_field :email, size: 30, autofocus: true, autocomplete: "email" %></div>
    </div>
  
    <div class="field row mt-3">
      <div class="col-md-2 offset-md-3"><%= f.label :password, "パスワード" %></div>
      <div class="col-md-3"><%= f.password_field :password, size: 30, autocomplete: "current-password" %></div>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field row mt-3">
        <div class="col-md-0 offset-md-3" style="padding-left: 17px;"><%= f.check_box :remember_me %></div>
        <div class="col-md-2"><%= f.label :remember_me %></div>
      </div>
    <% end %>
  
    <div class="actions row mt-2">
      <div class="col-md-2  offset-md-5"><%= f.submit "Log in", class:"btn btn-primary mb-3"%></div>
    </div>
  <% end %>
</div>