<div class="container">
    <div class="row my-5">
        <div class="mainVisual row col-lg-8 offset-lg-2 py-5 border">
            <div class="mainVisual-text col-lg-8 offset-lg-2 border p-3 my-5">
                <p>
                    ようこそ、ながのCAKEへ<br>
                    このサイトは、ケーキ販売のECサイトになります。<br>
                    会員でない方も商品の閲覧はできますが、<br>
                    購入には会員登録が必要になります。
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <h3 class="text-left">新着商品</h3>
    </div>
    <div class="row d-flex justify-content-center my-3">
        <% @products.each do |product| %>
            <div class="col-lg-3">
                <%= link_to product_path(product.id), class: "text-decoration-none" do %>
                    <div class="card">
                        <%= attachment_image_tag(product, :image, :fill, 200, 200, fallback: "no_image.jpg") %>
                        <div class="card-body text-dark">
                                <div class="card-text"><%= product.name %></div>
                                <div class="card-text">¥ <%= converting_to_jpy(product.price) %></div>
                            </div>
                        </div>
                    <% end %>
                </div>
        <% end %>
    </div>
    <div><% @product_types.each do |product_type| %>
      <tr>
        <td>
          <%= link_to product_type.name, customers_products_search_search_path('search[value]': product_type.id, 'search[how]': "match") %>
        </td>
      </tr>
    <% end %></div>
    <div class="col-lg-12 my-3">
        <p class="text-right"><%= link_to "商品一覧へ>", products_path, class: "btn btn-outline-secondary" %></p>
    </div>
</div>