<h2>商品詳細</h2>
<div><%= attachment_image_tag(@product, :image, :fill, 300, 225, fallback: "no_image.jpg", size: '300x225') %></div>
<div>
  <div>
    <p>商品名</p>
    <%= @product.name %>
  </div>
  <div>
    <p>商品説明</p>
    <%= @product.description %>
  </div>
  <div>
    <p>ジャンル</p>
    <%= @product.product_type.name %>
  </div>
  <div>
    <p>
      税込価格<br>
      （税抜価格）
    </p>
    <%= converting_to_jpy((@product.price * 1.1).round) %>
    (<%= converting_to_jpy(@product.price) %>)
  </div>
  <div>
    <p>販売ステータス</p>
    <% if @product.is_active == true %>
      販売中
    <% else %>
      販売停止中
    <% end %>
  </div>
</div>
<%= link_to '商品編集', edit_admins_product_path %>