<div class="container">
  <div class="row mt-3">
    <h1>注文履歴詳細</h1>
    <div class="col-md-10 mt-3 mb-3">
      <div class="info">
        <table>
          <col span="1" width=150>
          <col span="1" width=500>
          <tr>
            <td>購入者</td>
            <td><%= @order.customer.family_name + @order.customer.first_name %></td>
          </tr>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.receiver_name %></td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td>
              <% case @order.how_to_pay %>
                <% when 0 %>
                  クレジットカード
                <% when 1 %>
                  銀行振込
                <% end %>
            </td>
          </tr>
          <tr>
            <td>注文ステータス</td>
            <td>
              <%= form_with model: @order, url: admins_order_path do |f| %>
                <%= f.select :order_status, [["入金待ち","0"],["入金確認","1"],["製作中","2"],["発送準備中","3"],["発送済み","4"]], included_blank: "#{@order.order_status}" %>
                <%= f.submit '更新', class:"btn btn-success btn-sm" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-9 mb-4">
      <div class="products">
        <table class="table table-borderless" style="table-layout:fixed;">
          <thead class="thead-light">
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @ordered_products.each do |prod| %>
              <tr>
                <td><%= prod.product.name %></td>
                <td><%= (prod.product.price*$tax).floor %></td>
                <td><%= prod.count %></td>
                <td><%= (prod.product.price*$tax).floor*prod.count %></td>
                <td>
                  <%= form_with model: prod, url: admins_ordered_product_path(prod.id) do |f| %>
                    <%= f.select :production_status, [["制作不可","0"],["制作待ち","1"],["製作中","2"],["制作完了","3"]], included_blank: "#{prod.production_status}" %>
                    <%= f.submit '更新', class:"btn btn-success btn-sm" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3 align-self-end mb-5">
      <div class="payment-info">
          <table cellpadding="5">
            <tr>
              <td><strong>商品合計</strong></td>
              <td><%= @order.total_payment - $ship %></td>
            </tr>
            <tr>
              <td><strong>配送料</strong></td>
              <td><%= $ship %></td>
            </tr>
            <tr>
              <td><strong>請求金額合計</strong></td>
              <td><strong><%= @order.total_payment %></strong></td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>