<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-info">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path do %>
            <div class="text-white navbar-brand border py-3 px-2"> NaganoCake </div>
          <% end %>
        </div>
        <% if customer_signed_in? %>
          <div class="text-white">ようこそ、<%= current_customer.family_name %>  さん  </div>
          <div>
            <%= link_to "マイページ", customers_path, class: "btn btn-info" %>
            <%= link_to '商品一覧', products_path, class: "btn btn-info" %>
            <%= link_to "カート", cart_products_path, class: "btn btn-info" %>
            <%= link_to 'ログアウト', destroy_customer_session_path(logout: 0), method: :delete, class: "btn btn-info" %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="row">
            <%= link_to '商品一覧', admins_products_path, class: "btn btn-info" %>
            <%= link_to '会員一覧', admins_customers_path, class: "btn btn-info" %>
            <%= link_to '注文履歴一覧', admins_orders_path(check: 0), class: "btn btn-info" %>
            <%= link_to 'ジャンル一覧', admins_product_types_path, class: "btn btn-info" %>
            <%= link_to 'ログアウト', destroy_admin_session_path(logout: 1), method: :delete, class: "btn btn-info" %>
          </div>
          <div class="offset-lg-8 col-lg-4">
            <%= form_with url: admins_searches_path, local: true do |f| %>
              <%= f.text_field :content %>
              <%= f.select 'model', options_for_select({ "会員" => "Customers", "商品" => "Products" }) %>
              <%= f.submit :検索 %>
            <% end %>
          </div>
        <% else %>
          <div>
            <%= link_to 'About', about_path, class: "btn btn-info" %>
            <%= link_to '商品一覧', products_path, class: "btn btn-info" %>
            <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-info" %>
            <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="delete-after-development">
      <% if current_customer %>
      <% elsif current_admin %>
        管理者としてログイン中
      <% else %>
        <%= link_to '（開発用）管理者ログイン', new_admin_session_path %>
      <% end %>
    </div>
    <div class="notice text-success">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>
    <%= yield %>
    <div class="footer bg-info col-lg-12">
      <p class="text-center text-white p-4">NaganoCake</p>
    </div>
  </body>
</html>
