<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= link_to 'ロゴ（トップへ）',root_path %>,
        <% if customer_signed_in? %>
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
          ,マイページ,商品一覧,カート
        <% else %>
          <%= link_to 'About', about_path %>,
          <%= link_to 'ログイン', new_customer_session_path %>,
          <%= link_to '新規登録', new_customer_registration_path %>
        <% end %>

      <div>
        <!--開発用-->
        <% if customer_signed_in? %>
          [会員<%= current_customer.family_name %><%= current_customer.first_name %>としてログイン中]
        <% else %>
          [ログインしていない]
        <% end %>
      </div>
      ------------ヘッダー---------------
    </div>
    <%= yield %>
  </body>
</html>
