<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar bg-info">
      <div class="container">
        <div class="row">
          <%= link_to root_path do %>
            <div class="text-white navbar-brand"> Nagano_Cake </div>
          <% end %>
        </div>
        <% if customer_signed_in? %>
          <%= link_to "マイページ", customers_path %>
          <%= link_to '商品一覧', products_path %>
          <%= link_to "カート", customers_cart_products_path %>
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
        <% elsif admin_signed_in? %>
          <%= link_to '商品一覧', admins_products_path %>
          <%= link_to '会員一覧', admins_customers_path %>
          注文商品一覧
          <%= link_to 'ジャンル一覧', admins_product_types_path %>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
        <% else %>
          <%= link_to 'About', about_path %>,
          <%= link_to 'ログイン', new_customer_session_path %>,
          <%= link_to '新規登録', new_customer_registration_path %>
          <%= link_to '（開発用）管理者ログイン', new_admin_session_path %>
        <% end %>
      </div>
    </div>
          <div>
        <!--開発用-->
        <% if customer_signed_in? %>
          [会員<%= current_customer.family_name %><%= current_customer.first_name %>としてログイン中]
        <% elsif admin_signed_in? %>
          [管理者としてログイン中]
        <% else %>
          [ログインしていない]
        <% end %>
      </div>
    <%= yield %>
  </body>
</html>
